<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!DOCTYPE html>
    <html>
    <title>Study Type</title>
    <script>
        
        var sciCount = 0;
        var mathCount = 0;
        var otherCount = 0;


        // Function that will be activated when the user clicks on a checkbox
        function toggleRadioButtons(checkbox)
        {
            var radioButtons = checkbox.parentElement.querySelectorAll('input[type="radio"]'); // Get all radio buttons in the same fieldset as the checkbox
            var sciences = document.querySelectorAll(".sciencesub"); // Get all science subjects

            // Disable radio buttons if clicked
            for (var i = 0; i < radioButtons.length; i++)
            {
                radioButtons[i].disabled = !checkbox.checked;
            }
            if (stream === "science")
            {
                // Set restrictions as provided by the IB. if the user selects science as their stream, science subjects are higher.
                if (checkbox.className === 'sciencesub')
                {
                    radioButtons[0].checked = true; // subject is set to higher
                    radioButtons[0].disabled = true; // subject can't be changed
                    radioButtons[1].disabled = true; // disable standard
                }
            }
            else if (stream === "art")
            {
                // Set restrictions as provided by the IB. if the user selects art as their stream, science subjects are standard, Individuals and Societies are higher
                if (checkbox.className === 'sciencesub')
                {
                    radioButtons[1].checked = true; // subject is set to standard
                    radioButtons[0].disabled = true; // subject can't be changed
                    radioButtons[1].disabled = true; // disable higher
                }
                else if (checkbox.className === "other")
                {
                    radioButtons[0].checked = true; // subject is set to higher
                    radioButtons[0].disabled = true; // subject can't be changed
                    radioButtons[1].disabled = true; // disable standard
                }
            }

            // Keep track of which subjects are selected, for restrictions purposes
            if (checkbox.checked) // If the checkbox is checked, then increase, if unchecked, then decrease
            {
                if (checkbox.className === "sciencesub")
                {
                    // increase science subjects count
                    sciCount++;
                }

                else if (checkbox.className === "math")
                {
                    // increase math subjects count
                    mathCount++;
                }

                else if (checkbox.className === "other")
                {
                    // increase Individuals and Societies subjects count
                    otherCount++;
                }
            }
            else // Unchecked
            {
                if (checkbox.className === "sciencesub")
                {
                    // decrease science subjects count
                    sciCount--;
                }

                else if (checkbox.className === "math")
                {
                    // decrease math subjects count
                    mathCount--;
                }

                else if (checkbox.className === "other")
                {
                    // decrease Individuals and Societies subjects count
                    otherCount--;
                }
            }

            setText(); // Call setText function

        }

        // function remaining()
        // {
        //     const languages = document.querySelectorAll(".language"); // Get all language subjects
        //     const sciencesubs = document.querySelectorAll(".sciencesub"); // Get all science subjects
        //     const others = document.querySelectorAll(".other"); // Get all Individuals and Societies subjects
        //     const maths = document.querySelectorAll(".math"); // Get all math subjects
        //     const science = document.getElementById("science"); // Get the science radio button
        //     const art = document.getElementById("art"); // Get the art radio button
        //     const output = document.getElementById("output"); // Get the output element
            
        //     // let mathCount = 0;
        //     // let sciencesubCount = 0;
        //     // let languageCount = 0;
        //     // let otherCount = 0;


        //     // function updateMathCount()
        //     // {
        //     //     mathCount = 0;
        //     //     maths.forEach(function (math)
        //     //     {
        //     //         if (math.checked)
        //     //         {
        //     //             mathCount++;
        //     //         }
        //     //     });
        //     // }

        //     // function updateScienceCount()
        //     // {
        //     //     sciencesubCount = 0;
        //     //     sciencesubs.forEach(function (sciencesub)
        //     //     {
        //     //         if (sciencesub.checked)
        //     //         {
        //     //             sciencesubCount++;
        //     //         }
        //     //     });
        //     // }

        //     // function updateLanguageCount()
        //     // {
        //     //     languageCount = 0;
        //     //     languages.forEach(function (language)
        //     //     {
        //     //         if (language.checked)
        //     //         {
        //     //             languageCount++;
        //     //         }
        //     //     });
        //     // }

        //     // languages.forEach(function (language)
        //     // {
        //     //     language.addEventListener("change", function ()
        //     //     {
        //     //         if (language.checked)
        //     //         {
        //     //             languageCount++;
        //     //         }
        //     //         else
        //     //         {
        //     //             languageCount--;
        //     //         }
        //     //     });
        //     //     updateLanguageCount();
        //     //     setText();
        //     // });

        //     // function updateotherCount()
        //     // {
        //     //     otherCount = 0;
        //     //     others.forEach(function (other)
        //     //     {
        //     //         if (other.checked)
        //     //         {
        //     //             otherCount++;
        //     //         }
        //     //     });
        //     // }

        //     // others.forEach(function (other)
        //     // {
        //     //     other.addEventListener("change", function ()
        //     //     {
        //     //         if (other.checked)
        //     //         {
        //     //             otherCount++;
        //     //         }
        //     //         else
        //     //         {
        //     //             otherCount--;
        //     //         }
        //     //     });
        //     //     updateotherCount();
        //     //     setText();
        //     // });

        //     // maths.forEach(function (math)
        //     // {
        //     //     math.addEventListener("change", function ()
        //     //     {
        //     //         if (math.checked)
        //     //         {
        //     //             mathCount++;
        //     //         }
        //     //         else
        //     //         {
        //     //             mathCount--;
        //     //         }
        //     //     });
        //     //     updateMathCount();
        //     //     setText();
        //     // });

        //     // sciencesubs.forEach(function (sciencesub)
        //     // {
        //     //     sciencesub.addEventListener("change", function ()
        //     //     {
        //     //         if (sciencesub.checked)
        //     //         {
        //     //             sciencesubCount++;
        //     //         }
        //     //         else
        //     //         {
        //     //             sciencesubCount--;
        //     //         }
        //     //     });
        //     //     updateScienceCount();
        //     //     
        //     // });
        //     setText();
        // }

        function setText()
        {
            const science = document.getElementById("science"); // Get the science radio button (the very first one)
            const art = document.getElementById("art"); // Get the art radio button
            const diploma = document.querySelector('input[name="c3"][value="diploma"]'); // Get the diploma radio button
            const course = document.querySelector('input[name="c3"][value="course"]'); // Get the course radio button
            const english = document.querySelectorAll('input[name="english"]'); // Get all english radio buttons
            const arabic = document.querySelectorAll('input[name="arabic"]'); // Get all arabic radio buttons
            const extendedessay = document.querySelector('input[name="extendedessay"]'); // Get the extended essay checkbox

            if (science.checked) // If the science radio button is checked, then set the stream to science and disable the art radio button
            {
                art.disabled = true;
                stream = "science";
            }
            else if (art.checked) // If the art radio button is checked, then set the stream to art and disable the science radio button
            {
                science.disabled = true;
                stream = "art";
            }
            else // If neither of the radio buttons are checked, then enable both of them
            {
                science.disabled = false;
                art.disabled = false;
            }

            if (diploma.checked) // If the diploma radio button is checked then disable the course button
            {
                course.disabled = true;
            }

            else if (course.checked) // If the course radio button is checked then disable the diploma button
            {
                
                diploma.disabled = true;
            }

            restrict(); // Call restrict function
        }

        function restrict() // This function will restrict the user to the IB standards.
        {
            const english = document.querySelectorAll('input[name="english"]'); // Get all english radio buttons
            const arabic = document.querySelectorAll('input[name="arabic"]'); // Get all arabic radio buttons
            const sciencesubs = document.querySelectorAll(".sciencesub"); // Get all science subjects
            const maths = document.querySelectorAll(".math"); // Get all math subjects
            const others = document.querySelectorAll(".other"); // Get all Individuals and Societies subjects
            const extendedessay = document.querySelector('input[name="extendedessay"]'); // Get the extended essay checkbox
            
            if (stream === 'science')
            {
                const engCount = english[0].checked + english[1].checked; // Get the number of english subjects selected
                const arabCount = arabic[0].checked + arabic[1].checked; // Get the number of arabic subjects selected
                if (engCount === 1) // If any of the english subjects is selected
                {
                    if (english[0].checked) // If english A is selected
                    {
                        english[1].disabled = true; // Disable english B
                        english[0].disabled = true; // Disable english A
                        arabic[0].disabled = true; // Disable arabic A
                    }

                    else if(english[1].checked) // If english B is selected
                    {
                        english[0].disabled = true; // Disable english A
                        english[1].disabled = true; // Disable english B
                        arabic[1].disabled = true; // Disable arabic B
                    }

                }

                if (arabCount === 1) // If any of the arabic subjects is selected
                {
                    if (arabic[0].checked) // If arabic A is selected
                    {
                        arabic[1].disabled = true;  // Disable arabic B
                        arabic[0].disabled = true; // Disable arabic A
                        english[0].disabled = true; // Disable english A
                    }

                    else if(arabic[1].checked) // If arabic B is selected
                    {
                        arabic[0].disabled = true; // Disable arabic A
                        arabic[1].disabled = true; // Disable arabic B 
                        english[1].disabled = true; // Disable english B
                    }

                }

                if (sciCount === 2) // If two science subjects are selected 
                {
                    sciencesubs.forEach(function (sciencesub) // Loop through all science subjects
                    {
                        sciencesub.disabled = true; // and disalbe them
                    });
                }

                if (mathCount === 1) // If one math subject is selected
                {
                    maths[1].disabled = true; // Disable the other math subject
                    maths[0].disabled = true; // Disable the selected math subject
                }

                if (otherCount === 1) // If one Individuals and Societies subject is selected
                {
                    others.forEach(function (other) // Loop through all Individuals and Societies subjects
                    {
                        other.disabled = true; // and disable them
                    });
                }

                if (extendedessay.checked) // If the extended essay checkbox is checked
                {
                    extendedessay.disabled = true; // Disable it
                }
            }

            else if (stream === 'art') // If the art radio button is checked
            {
                const engCount = english[0].checked + english[1].checked; // Get the number of english subjects selected
                const arabCount = arabic[0].checked + arabic[1].checked; // Get the number of arabic subjects selected
                
                if (engCount === 1) // If any of the english subjects is selected
                {
                    if (english[0].checked) // if English A is selected
                    {
                        english[1].disabled = true; // Disable English B
                        english[0].disabled = true; // Disable English A
                    }

                }

                if (arabCount === 1) // If any of the arabic subjects is selected
                {
                    if (arabic[0].checked) // If arabic A is selected
                    {
                        arabic[1].disabled = true; // Disable arabic B
                        arabic[0].disabled = true; // Disable arabic A
                    }

                }

                if (sciCount === 1) // If one science subject is selected (max limit for art students)
                {
                    sciencesubs.forEach(function (sciencesub) // Loop through all science subjects
                    {
                        sciencesub.disabled = true; // and disable them
                    });
                }

                if (mathCount === 1) // If one math subject is selected disable them
                {    
                    maths[1].disabled = true;
                    maths[0].disabled = true;
                }

                if (otherCount === 2) // If two Individuals and Societies subjects are selected
                {
                    others.forEach(function (other) // Loop through all Individuals and Societies subjects
                    {
                        other.disabled = true; // and disable them
                    });
                }
                if (extendedessay.checked) // If the extended essay checkbox is checked
                {
                    extendedessay.disabled = true; // Disable it
                }
            }
        }

    </script>
</head>

<body>
    <div class="containerh1">
        <h1 id="output">IB University Finder</h1>
    </div>
    <form method="POST" action="{% url 'recommend_university' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Select your stream:</legend>
            <label class>
                <input type="radio" name="c1" value="science" id="science" onchange="setText(this)"> Science
            </label>
            <label>
                <input type="radio" name="c1" value="art" id="art" onchange="setText(this)"> Art
            </label>
        </fieldset>
        <fieldset>
            <legend>Select your study type:</legend>
            <label>
                <input type="radio" name="c3" value="diploma" onchange="setText(this)"> Diploma
            </label>
            <label>
                <input type="radio" name="c3" value="course" onchange="setText(this)"> Course
            </label>
        </fieldset>
        <fieldset>
            <legend>Select your subjects:</legend>
            <fieldset class="material">
                <legend>Language:</legend>
                <div>
                    <label class="container">
                        <input class="language" type="checkbox" name="english" value="englisha"
                            onchange="toggleRadioButtons(this)"> English A

                        <label class="studylabel2">
                            <input type="radio" name="c6" value="eahigher" disabled> Higher

                            <label class="studylabel">
                                <input type="radio" name="c6" value="eastandard" disabled> Standard
                            </label>
                        </label>
                </div>
                </label>
                <div>
                    <label>
                        <input class="language" type="checkbox" name="english" value="englishb"
                            onchange="toggleRadioButtons(this)"> English B
                        <label class="studylabel2">
                            <input type="radio" name="c8" value="ebhigher" disabled> Higher

                            <label class="studylabel">
                                <input type="radio" name="c8" value="ebstandard" disabled> Standard
                            </label>
                        </label>
                    </label>
                </div>
                <div>
                    <label>
                        <input class="language" type="checkbox" name="arabic" value="arabica"
                            onchange="toggleRadioButtons(this)"> Arabic A
                        <label class="studylabel2">
                            <input type="radio" name="c12" value="aahigher" disabled> Higher

                            <label class="studylabel">
                                <input type="radio" name="c12" value="aastandard" disabled> Standard
                            </label>
                        </label>
                    </label>
                </div>
                <label>
                    <input class="language" type="checkbox" name="arabic" value="arabicb"
                        onchange="toggleRadioButtons(this)">
                    Arabic B
                    <label class="studylabel2">
                        <input type="radio" name="c15" value="abhigher" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c15" value="abstandard" disabled> Standard
                        </label>
                    </label>
                </label>
            </fieldset>
            <fieldset class="material">
                <div>
                    <legend >Science:</legend>
                    <label>
                        <input class="sciencesub" type="checkbox" name="science" value="cs"
                            onchange="toggleRadioButtons(this)"> Computer Science
                        <label class="studylabel2">
                            <input type="radio" name="c21" value="cshigher" disabled> Higher

                            <label class="studylabel">
                                <input type="radio" name="c21" value="csstandard" disabled> Standard
                            </label>
                        </label>
                    </label>
                </div>
                <div>
                    <label>
                        <input class="sciencesub" type="checkbox" name="science" value="bio"
                            onchange="toggleRadioButtons(this)"> Biology
                        <label class="studylabel2">
                            <input type="radio" name="c24" value="biohigher" disabled> Higher

                            <label class="studylabel">
                                <input type="radio" name="c24" value="biostandard" disabled> Standard
                            </label>
                        </label>
                    </label>
                </div>
                <div>
                    <label>
                        <input class="sciencesub" type="checkbox" name="science" value="chem"
                            onchange="toggleRadioButtons(this)"> Chemistry
                        <label class="studylabel2">
                            <input type="radio" name="c27" value="chemhigher" disabled> Higher

                            <label class="studylabel">
                                <input type="radio" name="c27" value="chemstandard" disabled> Standard
                            </label>
                        </label>
                    </label>
                </div>
                <div>
                    <label>
                        <input class="sciencesub" type="checkbox" name="science" value="phys"
                            onchange="toggleRadioButtons(this)"> Pyhsics
                        <label class="studylabel2">
                            <input type="radio" name="c30" value="physhigher" disabled> Higher

                            <label class="studylabel">
                                <input type="radio" name="c30" value="physstandard" disabled> Standard
                            </label>
                        </label>
                    </label>

                </div>
            </fieldset>
            <fieldset class="material">
                <legend>Math</legend>
            <div>
                <label>
                    <input class="math" type="checkbox" name="math" value="mathan" onchange="toggleRadioButtons(this)">
                    Math Analysis
                    <label class="studylabel2">
                        <input type="radio" name="c36" value="mathnahigher" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c36" value="mathnastandard" disabled> Standard
                        </label>
                    </label>
                </label>
            </div>
            <div>
                <label>
                    <input class="math" type="checkbox" name="math" value="mathap" onchange="toggleRadioButtons(this)">
                    Math Application
                    <label class="studylabel2">
                        <input type="radio" name="c39" value="mathaphigher" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c39" value="mathapstandard" disabled> Standard
                        </label>
                    </label>
                </label>
            </div>
        </fieldset>
        <fieldset class="material">
            <legend>Individuals and Societies</legend>
            <div>
                <label>
                    <input class="other" type="checkbox" name="IS" value="business"
                        onchange="toggleRadioButtons(this)"> Business
                    <label class="studylabel2">
                        <input type="radio" name="c18" value="businesshigher" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c18" value="businessstandard" disabled> Standard
                        </label>
                    </label>
                </label>
            </div>
            <div>
                <label>
                    <input class="other" type="checkbox" name="IS" value="eco" onchange="toggleRadioButtons(this)">
                    Economics
                    <label class="studylabel2">
                        <input type="radio" name="c33" value="ecohigher" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c33" value="echostandard" disabled> Standard
                        </label>
                    </label>
                </label>
            </div>
            <div>
                <label>
                    <input class="other" type="checkbox" name="IS" value="digital" onchange="toggleRadioButtons(this)">
                    Digital Society
                    <label class="studylabel2">
                        <input type="radio" name="c42" value="digitalhigher" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c42" value="digitalstandard" disabled> Standard
                        </label>
                    </label>
                </label>
            </div>
            <div>
                <label>
                    <input class="other" type="checkbox" name="IS" value="poli" onchange="toggleRadioButtons(this)">
                    Political Science
                    <label class="studylabel2">
                        <input type="radio" name="c45" value="polihigher" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c45" value="polistandard" disabled> Standard
                        </label>
                    </label>
                </label>
            </div>
            <div>
                <label>
                    <input class="other" type="checkbox" name="IS" value="history" onchange="toggleRadioButtons(this)">
                    History
                    <label class="studylabel2">
                        <input type="radio" name="c48" value="science" disabled> Higher

                        <label class="studylabel">
                            <input type="radio" name="c48" value="science" disabled> Standard
                        </label>
                    </label>
                </label>
            </div>
            <div>
                <label>
                    <input class="other" type="checkbox" name="IS" value="psyc" onchange="toggleRadioButtons(this)">
                    Psychology
                    <label class="studylabel2">
                        <input type="radio" name="c51" value="psychigher" disabled> Higher

                        <input type="radio" name="c51" value="psycstandard" disabled> Standard
                    </label>
                </label>
                </label>
            </div>
            </fieldset>
            <fieldset class="material">
                <legend>Other</legend>
            <div>
                <label>
                    <input class="essay" type="checkbox" name="extendedessay" value="extendedessay"
                        onchange="toggleRadioButtons(this)"> Extended Essay
                    <label class="studylabel2">
                        <input type="radio" name="c54" value="extesgradehigher" disabled> Higher

                        <input type="radio" name="c54" value="extesgradestandard" disabled> Standard
                    </label>
                </label>
                </label>
            </div>
            </fieldset>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label for="score">GPA:</label>
                <input type="number" id="score" name="score" required>
            </div>
            <div class="form-group">
                <label for="destination">Select the destination:</label>
                <select id="destination" name="destination" required>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                    <option value="Canada">Canada</option>
                    <option value="Germany">Germany</option>
                    <option value="UAE">UAE</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Russia">Russia</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Egypt">Egypt</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Spain">Spain</option>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>Additionals</legend>
            <div>
                <label>
                    <input type="checkbox" name="additional" value="living"> Housing
                    </label>
                <label>
                    <input type="checkbox" name="additional" value="transportation"> Transportation
                    </label>
                <label>
                    <input type="checkbox" name="additional" value="food"> Food
                    </label>               
            </div>
        </fieldset>
        <button type="submit">Show Universities</button>
    </form>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            padding: 20px;
            position: relative;
            font-weight: bold;
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 20px;
        }

        span {
            font-size: 18px;
            color: #666;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 5px;
        }

        button:hover {
            background-color: #0056b3;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }

        .logout-link {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        p {
            text-align: left;
        }

        fieldset {
            border: 1px solid #ddd;
            border-radius: 9px;
            padding: 10px;
            margin-top: 20px;
            margin-left: 250px;
            margin-right: 250px;
            text-align: left;
        }

        .material {
            margin-left: 30px;
            margin-right: 30px;
        }

        legend {
            font-size: 24px;
            color: #333;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        .studylabel {
            display: inline;

        }

        .studylabel2 {
            margin-left: 30px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        input[type="checkbox"] {
            margin-right: 5px;
            background-color: #0056b3;
        }

        label {
            font-size: 14px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="number"] {
            width: 97%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .containerh1 {
            left: 50px;

        }
    </style>
</body>

</html>